language: node_js

node_js:
  - "0.8"
  - "0.9"
  - "0.10"

notifications:
  email:
    on_success: change
    on_failure: always

before_script:
  - npm install -g bower grunt-cli
  - bower install
  - grunt
